@charset "UTF-8";
.burger-musk {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.main {
  background-image: url(../img/circle.png);
  background-position: top -150px right -130px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: top -140px right -150px;
    background-size: cover;
  }
}

.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 200px;
}

@media screen and (max-width: 1250px) {
  .main-inner {
    padding: 100px 10px 60px;
  }
}

.main-catch {
  max-width: 351px;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .main-catch {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.main-catch h2 {
  font-size: 32px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .main-catch h2 {
    line-height: 1.5;
    margin-bottom: 30px;
  }
}

.main-catch p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .main-catch p {
    line-height: 1.5;
    margin-bottom: 30px;
  }
}

.main-image {
  position: absolute;
  right: 15%;
  top: 20%;
  z-index: 1000;
}

@media screen and (max-width: 1250px) {
  .main-image {
    right: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .main-image {
    width: 80%;
    position: unset;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1000px) {
  .main-image img {
    max-width: 200px;
  }
}

.features-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 60px;
}

@media screen and (max-width: 768px) {
  .features-inner {
    padding: 50px 0;
  }
}

.features-ttl {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .features-ttl {
    font-size: 28px;
  }
}

.features-sub {
  font-size: 16px;
  font-weight: bold;
  color: #3ba6c9;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .features-sub {
    font-size: 14px;
  }
}

.features-coding {
  margin: 60px auto;
}

.features-coding h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 54px;
}

@media screen and (max-width: 1000px) {
  .features-coding h2 {
    font-size: 24px;
  }
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .features-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .features-box.reverce {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.features-box img {
  max-width: 380px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .features-box img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .features-box img {
    width: 70%;
    height: auto;
  }
}

.features-content h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 54px;
}

@media screen and (max-width: 1000px) {
  .features-content h3 {
    font-size: 20px;
  }
}

.features-content p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .features-content p {
    font-size: 14px;
  }
}

.price {
  background-color: #eefbfb;
  padding: 50px 20px 80px;
  overflow: hidden;
}

.price-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.price-ttl {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .price-ttl {
    font-size: 28px;
  }
}

.price-sub {
  font-size: 16px;
  font-weight: bold;
  color: #3ba6c9;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .price-sub {
    font-size: 14px;
  }
}

.price-table {
  width: 95%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px black;
          box-shadow: 0 3px 6px black;
  border-collapse: collapse;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .price-table {
    width: 90%;
  }
}

.price-table th {
  font-size: 16px;
  width: 30%;
  padding: 30px 10px;
  text-align: left;
  border: 1px solid #E5E5E5;
}

@media screen and (max-width: 1000px) {
  .price-table th {
    padding: 0px 20px 20px 20px;
  }
}

.price-table td {
  width: 70%;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 10px;
  text-align: left;
  border: 1px solid #E5E5E5;
}

.price-detail {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .price-detail {
    font-size: 12px;
  }
}

.faq-inner {
  max-width: 1024px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.faq-ttl {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .faq-ttl {
    font-size: 28px;
  }
}

.faq-sub {
  color: #3ba6c9;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .faq-sub {
    font-size: 14px;
  }
}

.faq .acordion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .faq .acordion {
    width: 95%;
  }
}

.faq .acordion-ttl {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 1px solid #E5E5E5;
}

.faq .acordion-ttl:hover {
  text-decoration: underline;
}

.faq .acordion-ttl:active {
  text-decoration: underline;
}

.faq .acordion-ttl.is-active {
  text-decoration: underline;
}

.faq .acordion-content {
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding: 0 50px;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.faq .acordion-content:last-of-type {
  border-bottom: 1px solid #E5E5E5;
}

.faq .acordion-content.is-open {
  background-color: #E5E5E5;
  padding: 20px 50px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

.blog {
  background-color: #eefbfb;
}

.blog-inner {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 10px;
}

.blog-ttl {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .blog-ttl {
    font-size: 28px;
  }
}

.blog-sub {
  color: #3ba6c9;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .blog-sub {
    font-size: 14px;
  }
}

.blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .blog-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-item {
  width: 340px;
  height: 350px;
  margin: 15px;
}

@media screen and (max-width: 1000px) {
  .blog-item {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }
}

.blog-item img {
  width: 100%;
  max-height: 70%;
}

@media screen and (max-width: 1000px) {
  .blog-item img {
    height: 60%;
  }
}

.blog-content {
  background-color: #fff;
  min-height: 30%;
  padding: 20px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .blog-content {
    height: 100px;
  }
}

.blog-content h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.blog-content span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
  font-weight: bold;
}

.works-inner {
  width: 100%;
  padding: 40px 0;
}

.works-ttl {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .works-ttl {
    font-size: 28px;
  }
}

.works-sub {
  color: #3ba6c9;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .works-sub {
    font-size: 14px;
  }
}

.works .swiper-container {
  width: 100%;
}

.works .swiper-slide .items {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 407px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .works .swiper-slide .items {
    width: 95%;
    height: auto;
  }
}

.works .swiper-slide .items img {
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 1000px) {
  .works .swiper-slide .items img {
    height: 70%;
  }
}

.works .swiper-slide .items .item {
  height: 50%;
  padding: 20px;
  border: 1px solid #E5E5E5;
  border-top: 0px;
  border-radius: 10px;
}

.works .swiper-slide .items .item h3 {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
}

.works .swiper-slide .items .item p {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
}

.contact {
  background: -webkit-gradient(linear, left top, right top, from(#05a5fa), to(#63fbd7));
  background: linear-gradient(to right, #05a5fa, #63fbd7);
  margin-bottom: 20px;
}

.contact-inner {
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}

.contact-ttl {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .contact-ttl {
    font-size: 28px;
  }
}

.contact-sub {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .contact-sub {
    font-size: 14px;
  }
}

.contact-content {
  line-height: 1.5;
  margin-bottom: 40px;
  font-weight: bold;
}

.contact .form {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  max-width: 900px;
  height: 689px;
  padding: 10px 40px;
  color: #333;
  text-align: left;
}

.contact .form .label {
  margin: 30px 0 40px;
  font-weight: bold;
}

.contact .form .label::after {
  content: '必須';
  font-size: 14px;
  padding: 5px 12px;
  background-color: #0C449B;
  border-radius: 8px;
  color: #fff;
  margin-left: 20px;
}

.contact .form .form-area input {
  padding: 5px;
  width: 499px;
  height: 43px;
  border: none;
  background-color: #eefbfb;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .contact .form .form-area input {
    width: 100%;
  }
}

.contact .form .form-area textarea {
  font-size: 16px;
  padding: 5px;
  width: 100%;
  height: 179px;
  border: none;
  background-color: #eefbfb;
  border-radius: 4px;
}

.contact .form .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  font-weight: bold;
}

.contact .form .privacy input {
  margin-right: 10px;
}

.contact .form .contact-btn {
  border: none;
}

.contact-btn {
  margin-left: auto;
  margin-right: auto;
}

.contact .end-message {
  display: none;
  margin: 30px auto;
}

.contact .false-message {
  display: none;
  margin: 30px auto;
}

.footer {
  padding: 20px;
}

.footer-ttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .footer-ttl {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.footer .policy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .footer .policy-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.footer .policy-box a {
  margin: 0 10px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .footer .policy-box a {
    margin-top: 10px;
    text-align: center;
  }
}

.footer-copy {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=front-page.css.map */