body {
  font-family: 'Noto-Sans JP', sans-serif;
  color: #333;
  margin-top: 94px;

  &.noscroll {
    overflow: hidden;
  }
}

img {
  height: auto;
  // min-width: 100%;
}

a {
  text-decoration: none;
}