@import "../mixin/mixin";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  box-shadow: 0 0px 6px rgba(0,0,0,16);
  background-color: #fff;

  .nav-links {
    display: none;
    z-index: 1002;
  
    @include ls {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #fff;
        width: 40%;
        transform: translateX(100%);
        transition: transform .3s ease-in;
        z-index: 1002;
    
        ul {
          display: flex;
          flex-direction: column;
          margin: 70% auto;
          text-align: center;

          @include ms {
            margin: 40%  auto;
          }
    
          li {
            list-style: none;
            margin: 24px auto;
            font-size: 16px;
            font-weight: bold;
          }
    
          a {
            text-decoration: none;
            color: $txt-color;
          }
        }
      }
    
      &.nav-active {
        transform: translateX(0%);
      }

      @include ms {
        width: 100%;
      }
  }

  &-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &-logo {
    display: flex;
    align-items: center;
    img {
      width: 55px;
      height: 55px;
    }
  }

  &-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
  }

  &-nav {
    ul {
      display: flex;
      justify-content: space-between;

      li {
        text-align: center;
        margin-right: 45px;
        
        a {
          font-weight: bold;
          color: $txt-color;
        }
      }
    }
  }
}